GATSBY_GRAPHQL_IDE=playground

GATSBY_CLOUDINARY_KEY=dlx3ypqzf
GATSBY_CLOUDINARY_PATH=v1570895682

GATSBY_SNIPCART_API_KEY=NjMyNDlmZTEtMTEzMS00YjU2LWI0YjQtZGU2NjBmMGM0YjY1NjM3MDU3ODM1NzExNDE0MDk4

AIRTABLE_API_KEY=keyqghFi7ifJOjVLP
AIRTABLE_BASE_ID=appqSpdQnZYEfwqQr

GATSBY_ALGOLIA_APP_ID=L93W09RNXK
GATSBY_ALGOLIA_SEARCH_KEY=1d7f0729510b569fd0c9f9fd6ee794db
ALGOLIA_ADMIN_KEY=b115588da1bd6f1ca9474334e6d5b864
ALGOLIA_INDEX_NAME=Products